* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #E5E5E5;
    --txt-color: #323238;
    --txt-color-secondary: #FFFFFF;
    --sounds-bg-color-primary: #c0c0c7;
    --sounds-bg-color-secondary: #02799D;

    font-size: clamp(40%, 1% + 2vw, 62.5%);
}

body {
    background-color: var(--bg-color);
    color: var(--txt-color);

    display: grid;
    height: 100vh;
    place-content: center;
}

#app {
    display: grid;
    justify-items: center;
    gap: 19.2rem;
    max-width: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#timer {
    font-size: 12.6rem;
    font-weight: bold;
    font-family: sans-serif;
}

#controls {
    margin-top: 4.8rem;
    gap: 4rem;
}

#controls button {
    background-color: transparent;
    border: 0;
    color: var(--primary-color);

    cursor: pointer;

    font-size: 6.4rem;
}

#controls #btn-play:hover {
    color: #295cca;
}

#controls #btn-pause:hover {
    color: #ec8d1fea;
}

#controls #btn-reset:hover {
    color: #295cca;
}

#controls #btn-plus:hover {
    color: #1a7a17;
}


#controls #btn-minus:hover {
    color: #ac1a1a;
}

#theme-sound {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem
}

#theme-sound button {
    color: var(--primary-color);
    background-color: var(--sounds-bg-color-primary);
    font-size: 6.4rem;
    width: 14rem;
    height: 15rem;
    border-radius: 2.4rem;
    border: none;
    cursor: pointer;
}

#theme-sound button:hover {
    background-color: var(--sounds-bg-color-secondary);
    color: var(--txt-color-secondary);
}

.sr-only {
    width: 1px;
    height: 1px;
    position: absolute;
    overflow: hidden;

    margin: -1px;
    padding: 0;
    border: 0;
    appearance: none;
}


/* Controls */
.running .ph-play-circle,
.running .ph-timer,
html:not(.running) .ph-pause-circle,
html:not(.running) .ph-stop-circle,
html:not(.sound-on) .ph-speaker-high{
    display: none;
}


@media (min-width: 912px) {
    #app {
        display: flex;
        justify-content: center; 
        align-items: center; 
    }


    #content {
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
}




